@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
  }
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* container */
.container{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
  }

/* navbar */
nav{
    
    background-color: rgb(255, 255, 255);
    padding: 18px;
    /* border-bottom: 1px solid #a7b0c2; */
    position: sticky;
}

nav ul {
    display: flex;
    list-style-type: none;
}

.logo{
    width: 7%;
    cursor: pointer;
    height: auto;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    text-decoration: none;
    color: #a7b0c2;
}
nav ul li {
    padding-top: 7px;
}

nav ul li a:hover{
    color: white;
    padding: 10px;
    margin-left: 15px;
    background-color: #79D0F5;
    border-radius: 12px;
}

/* text-search */
.text-w{
    color: #79D0F5;
    font-size: 23px;
    border-radius: 8px 0px 0px 8px;
}
/* profil */
.profil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #8f8f8f;

}
/* search */
.search{
    width: 160px;
    height: 40px;
    border-radius: 0px 8px 8px 0px;
    border-right: 2px  solid #ffffff;
    border-top: 2px  solid #ffffff;
    border-bottom: 2px  solid #ffffff;
    border-left:  solid #ffffff;
    background-color: rgb(255, 255, 255);
}

.search::placeholder{
    color: #79D0F5;
}

.search:active{
    background-color: #79D0F5;
    border: 2px solid #79D0F5;
    color: white;
}
.search:active{
    background-color: #79D0F5;
    border: 2px solid #79D0F5;
    color: white;
}

/* footer */
footer{
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #79D0F5;
}

.footers{
    padding-top: 55px;
    display: flex;
  }

footer .img{
    width: 30%;
    height: 30%;
}

footer .fs-small{
    font-size: small;
}

footer a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

footer ul li {
    list-style-type: none;
    font-size: small;
}

footer h4{
    color: #79D0F5;
}

footer input{
    width: 60%;
    height: 38px;
    border: 2px solid #79D0F5;
    border-radius: 8px;
}
footer input:focus-visible{
    outline: 2px solid #79D0F5;
}

/* Global CSS */

.row-1 {
    background-color: rgb(255, 255, 255);
    width: 410px;
    height: 300px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 3px;
  }
.row-2 {
    background-color: rgb(255, 255, 255);
    width: 175px;
    height: 300px;
    display: inline-block;
    padding: 3px;
}

/* text-position-1 */
.text-p1{
    justify-content: left;
    position: relative;
    padding-left: 5%;
    margin-top: 170px;
}

/* center */
.form{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
}

form .input{
    width: 100%;
    height: 33px;
    border: 2px solid #79D0F5;
    border-radius: 8px;
    
}

form .input:focus-visible{
    outline: 2px solid #79D0F5;
}
/* relative */
.relative{
    position: relative;
    margin: auto;
}

/* center */
.centers{
    display: inline;
    justify-content: center;
    align-items: center;
    
}

/* text relative */

.text-absolute{
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
    
}
/* button */
button{
    width: 32%;
    height: 40px;
    background-color: #79D0F5;
    color: white;
    border: 2px solid #79D0F5;
    border-radius: 9px;
}

button:hover{
    background-color: #11a8e9;
    border: 2px solid #11a8e9;
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.text-medium{
    font-size: medium;
}
.icons{
    color: #79D0F5;
}
/* margin */
/* margin top */
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 25px;
}

/* margin bottom */
.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.mb-3{
    margin-bottom: 15px;
}
.mb-4{
    margin-bottom: 20px;
}
.mb-5{
    margin-bottom: 25px;
}

/* margin left */
.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}
.ml-3{
    margin-left: 15px;
}
.ml-4{
    margin-left: 20px;
}
.ml-5{
    margin-left: 25px;
}

/* margin right */
.mr-1{
    margin-right: 5px;
}
.mr-2{
    margin-right: 10px;
}
.mr-3{
    margin-right: 15px;
}
.mr-4{
    margin-right: 20px;
}
.mr-5{
    margin-right: 25px;
}


/* padding */

/* padding top */

.pt-1{
    padding-top: 5px;
}
.pt-2{
    padding-top: 10px;
}
.pt-3{
    padding-top: 15px;
}
.pt-4{
    padding-top: 20px;
}
.pt-5{
    padding-top: 25px;
}

/* padding left */

.pl-1{
    padding-left: 5px;
}
.pl-2{
    padding-left: 10px;
}
.pl-3{
    padding-left: 15px;
}
.pl-4{
    padding-left: 20px;
}
.pl-5{
    padding-left: 25px;
}